{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Update an account operation" %}</h1>
  {% if object.can_be_updated %}
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
    <button type="submit">{% trans "Save" %}</button>
    </form>
    <p class="orders">
        <a href="{% url 'accountoperation_delete' pk=object.id %}">{% trans "Delete this account operation" %}</a>
    </p>
  {% else %}
    <p>Can't be updated</p>
    <p class="orders">
        {% if object.is_transfer %}
            <a href="{% url 'account_transfer_delete' comment=object.comment %}">{% trans "Delete this transfer" %}</a>
        {% endif %}
        {% if object.is_creditcardbilling %}
            <a href="{% url 'creditcard_pay_refund' accountsoperations_id=object.id %}">{% trans "Return credit card billing" %}</a>
        {% endif %}
        {% if object.is_investmentoperation %}
            <a href="{% url 'investmentoperation_update' pk=view.io.id %}?next={{ request.META.HTTP_REFERER }}">{% trans "Update associated investment operation" %}</a>
        {% endif %}
  {% endif %}

    <p class="orders">
        <a href="{% url 'report_concepts' %}">{% trans "Monthly concepts report" %}</a> |
        <a href="{% url 'report_concepts_historical' concepts_id=object.concepts.id %}">{% trans "Historical concepts report" %}</a>
    </p>

{% endblock %}
