
{% extends 'base.html' %}

{% load i18n %}

{% load static %}
{% load random_numbers %}
{% get_current_language as LANGUAGE_CODE %}

{% block head_js_section %}
    <script type="text/javascript" src='{% static "js/vue.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuetify.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/axios.min.js" %}'></script> 
    <script type="text/javascript" src='{% static "js/moment.js" %}'></script>
    <script type="text/javascript" src='{% static "js/moment-timezone-with-data.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableAccountOperations.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuetifydatetimepicker.js" %}'></script>
{% endblock head_js_section %}

{% block head_css_section %}
        <link rel="stylesheet" type="text/css" href='{% static "css/materialdesignicons.min.css" %}'>
        <link rel="stylesheet" type="text/css" href='{% static "css/vuetify.min.css" %}'>
        <link rel="stylesheet" type="text/css" href='{% static "css/mystylesvue.css" %}?dev={% random_integer 0 10000 %}'>
{% endblock head_css_section %}

{% block content %}
    <h1>{% trans "Add a new account operation" %}</h1>
    <form method="post" class="form_table">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
    <button type="submit">{% trans "Save" %}</button>
    </form>
    
    <v-form ref="form" v-model="form_valid" lazy-validation action="{% url 'settings' %}" method="POST">
        <v-card class="padding" outlined>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <v-datetime-picker label="Select Datetime" v-model="ao.datetime"> </v-datetime-picker>
            <v-text-field name="concepts" v-model="ao.concepts_id" type="text" :counter="10" label="{% trans 'Default amount to invest' %}" placeholder="{% trans 'Enter an amount' %}" ></v-text-field>
        </v-card>
    </v-form>

  <p class="orders">
    <a href="{% url 'account_view' pk=view.kwargs.accounts_id %}">{% trans "Show account" %}</a>
  </p>
    <div id="app">
        <v-card class="pa-4 d-flex justify-center" outlined
        style="min-width: 100px; max-width: 100%;">
            <v-date-picker dense no-title class="mymonthpicker " ref="monthpicker" v-model="monthpicker" type="month"></v-date-picker>
            <v-divider class="mx-2" vertical ></v-divider>
            <table-accountoperations :items="items_ao" currency_account="{{view.account.currency}}" height="300" url_root="{% url 'home' %}" ref="table_ao" class=" flex-grow-1 flex-shrink-0" locale='{{ LANGUAGE_CODE }}'></table-accountoperations>
        </v-card>
    </div>
<script>
new Vue({
    ...common_vue_properties_without_mixin(),            
    data () {
        return {
            monthpicker: new Date().toISOString().substr(0, 7),
            items_ao: [],
            form_valid: false,
            ao:this.newAO()
        }  
    },
    watch:{
        monthpicker: function (){
            this.refreshTable()
        }
    },
    methods: {
        myheaders,
        newAO(){
            return {
                id:null,
                datetime: null,
                concepts_id: null,
            }
            
        },
        refreshTable(){
            var this_=this //Needs this inside axios seems with browser vue method
            axios.get( action="{% url 'accountoperation_list' pk=view.account.id year=9998 month=9997%}".replace("9998",this.$refs.monthpicker.inputYear).replace("9997",this.$refs.monthpicker.inputMonth+1) , this.myheaders())
            .then(function (response) {
                this_.items_ao=response.data;
                this_.$refs.table_ao.gotoLastRow()
            }) 
            .catch(function (error) {
                alert(gettext("Something is wrong"))
            });
        }
    },
    mounted(){
        this.refreshTable()
    }
    
})
</script>
{% endblock content %}
