{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Accounts operations search" %}</h1>
    <form class="search" id="searchform" action="" method="get" accept-charset="utf-8">
      <label>{% trans "Search a text:" %}</label>
      <input class="searchfield" id="searchbox"  class="form-control" name="search" type="text" value="{{strsearch}}"  placeholder="{% trans "Enter a string" %}">
      <button class="searchbutton" type="submit">{% trans "Search" %}</button>
    </form>
{% if search %}
    <h2>{% trans "Results" %}</h2>
    {{qso_ao.tabulator.render | safe}}
{% endif %}
{% endblock %}

