{% extends "base_vue_all.html" %}

{% load i18n %}
{% load static %}

{% block head_js_section %}
    <script type="text/javascript" src='{% static "js/tabulator.min.js" %}'></script>
{% endblock head_js_section %}
{% block head_css_section %}
    <link rel="stylesheet" type="text/css" href='{% static "css/tabulator.min.css" %}'>
{% endblock head_css_section %}

{% block content %}
    <h1>{% trans "My banks" %}</h1>
    {% trans "Check to show inactive banks" as mylabel %}
    {% include "objects/checkbox_selection.html" with label=mylabel url_checked=url_checked url_unchecked=url_unchecked %}    

    <p></p>
    {{ table_banks|safe}}


    <p class="orders">
        <a href="{% url 'bank_new' %}">{% trans "Add a new bank"%}</a> | 
    </p>
<script>
new Vue({
    ...common_vue_properties(),
})
</script>
{% endblock content %}
