{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Add a new credit card operation" %}</h1>
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <script type="text/javascript">
            jQuery('#datetimepicker').datetimepicker({
                inline:false,
                format:'d/m/Y H:i:s',
                lang:'{{LANGUAGE_CODE}}',
            });
        </script>
    <button type="submit">{% trans "Save" %}</button>
    </form>

{% endblock %}
