
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% blocktrans with creditcard_name=creditcard.name %} '{{ creditcard_name }}' details{% endblocktrans %}</h1>


  <p><strong>{% trans 'Id' %}: </strong>{{ creditcard.id }}</p>
  <p><strong>{% trans 'Number' %}: </strong>{{ creditcard.number }}</p>

  <p class="orders">
    <a href="{% url 'creditcard_update' pk=creditcard.id %}">{% trans "Update this credit card" %}</a>
  </p>

  <h2>{% trans "Credit card operations" %}</h2>
  {% if creditcard.deferred is True %}

  {{ qso_creditcardoperations.tabulator_for_update.render|safe }}

  <p class="orders">
    <a href="{% url 'creditcardoperation_new' creditcards_id=creditcard.id %}">{% trans "Add a credit card operation"%}</a> | 
    <a href="{% url 'creditcard_pay' pk=creditcard.id %}">{% trans "Pay deferred credit card operations"%}</a> | 
    <a href="{% url 'creditcard_pay_historical' pk=creditcard.id %}">{% trans "Historical deferred credit card operations payments"%}</a> | 
  </p>

  {% else %}
  {% trans "Credit card operations are added directly to its account" %}

  <p class="orders">
    <a href="{% url 'accountoperation_new' accounts_id=creditcard.accounts.id %}">Add an account operation</a>
  </p>
  {% endif %}
{% endblock %}
