{% extends 'base_vue_all.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <div style="text-align:center;">
        <h1 style="text-align:center;">Django Money</h1>
        <br>
        <img src='{% static "images/xulpymoney.png" %}' height="150px" width="150px"/>
        <br>
        <p style="margin:40px;">{% trans "Wellcome to Django-Money, your personal accounting and financial system." %}</p>
    </div>

<script>
new Vue({
    ...common_vue_properties(),
})
</script>
{% endblock content %}
