{% extends 'base_vue_all.html' %}

{% load i18n %}
{% load l10n %}
{% load static %}

{% block head_js_section %}
    <script type="text/javascript" src='{% static "js/vuecomponents/MyDatePicker.js" %}'></script>
{% endblock head_js_section %}


{% block content %}
    <v-card flat>
        <h1>{% trans "Change selling price of investments with the same product" %}</h1>
        <v-data-table ref="table" v-model="selected" :headers="tableHeaders" :items="data" :single-select="false" item-key="id" show-select class="elevation-1" :disable-pagination="true" dense ></v-data-table>
        <p></p>
        <v-container style="width:60%">
            <v-card class="padding">
                <label>{% trans "Selected invested amount" %}: [[currency_string(selected_invested, currency)]]</label><br>
                <label>{% trans "Number of shares selected" %}: [[selected_shares]]</label><br>
                <label>{% trans "Average price of selected shares" %}: [[currency_string(selected_average_price, currency, decimals)]]</label><br>
                <label>{% trans "Product leverage" %}: [[leverage]]</label><br>
                <label>{% trans "Product current price" %}:  [[currency_string(current_price, currency, decimals)]]</label><br>
            </v-card>    
        </v-container>
        <v-tabs  background-color="primary" dark v-model="tab" next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows>
            <v-tab key="percentage">{% trans "Set a gains percentage" %}</v-tab>
            <v-tab key="gain">{% trans "Set a gain" %}</v-tab>
            <v-tab key="price">{% trans "Set a price" %}</v-tab>
            <v-tabs-slider color="yellow"></v-tabs-slider>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <v-tab-item key="percentage">      
                <v-card class="padding">
                    <v-text-field name="{% trans 'Set a gains percentage' %}" v-model.number="percentage" :counter="10" label="{% trans 'Set a gains percentage' %}" placeholder="{% trans 'Enter an amount' %}" :rules="RulesFloatRequired(10)" autofocus></v-text-field>
                </v-card>
            </v-tab-item>
            <v-tab-item key="gain">     
                <v-card class="padding">
                    <v-text-field name="{% trans 'Set a gain' %}" v-model.number="gains" :counter="10" label="{% trans 'Set a gain' %}" placeholder="{% trans 'Enter an amount' %}" :rules="RulesFloatRequired(10)"></v-text-field>
                </v-card>
            </v-tab-item>
            <v-tab-item key="price">     
                <v-card class="padding">
                    <v-text-field name="{% trans 'Set a price' %}" v-model.number="price" :counter="10" label="{% trans 'Set a price' %}" placeholder="{% trans 'Enter an amount' %}" :rules="RulesFloatRequired(10)"></v-text-field>
                </v-card>
            </v-tab-item>
        </v-tabs-items>         
        <v-form ref="form" v-model="form_valid" lazy-validation action="{% url 'investments_same_product_change_selling_price' products_id=product.id %}" method="POST">
            <my-datepicker name="selling_expiration" v-model="selling_expiration" label="{% trans 'Selling expiration' %}"></my-datepicker> 
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <input type="hidden" name="investments" :value="[[investments_ids]]">
            <input type="hidden" name="selling_price" :value="[[my_round(selected_selling_price, decimals)]]">
            <v-btn color="error" @click="submit()" :disabled="form_valid==false">[[button_text]]</v-btn>
        <v-form>
    </v-card>
<script>
new Vue({
    ...common_vue_properties(),
    data:{    
        tab:0,
        form_valid:false,
        data:{{json_data |safe}},
        selected:[],
        tableHeaders: [
            { text: "{% trans 'Id' %}", value: 'id', sortable: true },
            { text: "{% trans 'Name' %}", value: 'name', sortable: true},
            { text: "{% trans 'Shares' %}", value: 'shares', sortable: true, align: 'right'},
            { text: "{% trans 'Selling price' %}", value: 'selling_price', sortable: true, align: 'right'},
            { text: "{% trans 'Selling expiration' %}", value: 'selling_expiration', sortable: true, align: 'right'},
            { text: "{% trans 'Average price' %}", value: 'average_price', sortable: true, align: 'right'},
            { text: "{% trans 'Invested' %}", value: 'invested', sortable: true, align: 'right'},
            { text: "{% trans 'Balance' %}", value: 'balance_investment', sortable: true, align: 'right'},
        ],
        selected_invested:0,
        selling_expiration: new Date().toISOString().substring(0, 10),
        menu_selling_expiration: false,
        selected_selling_price: NaN,
        selected_average_price:0,
        selected_shares:0,
        leverage: {{product.real_leveraged_multiplier }},
        button_text:"Calculate your selling price",
        gains:500,
        price: 0,
        current_price: {{product.basic_results.last | unlocalize}},
        percentage: 10,
        currency: '{{product.currency}}',
        decimals: {{product.decimals| unlocalize}},
        investments_ids:""
        
    },
    watch: {
        selected: function() {
            this.selected_shares=this.selected.reduce((accum,item) => accum + item.shares, 0)
            this.selected_invested=this.selected.reduce((accum,item) => accum + item.invested, 0)
            if (this.selected_shares!=0){
                var selected_sharesbyaverage=this.selected.reduce((accum,item) => accum + item.shares*item.average_price, 0)
                this.selected_average_price=selected_sharesbyaverage/this.selected_shares
            } else {
                this.selected_average_price=0
            }
            this.calculate()
        },
        gains: function(value) {
            this.calculate()
        },
        percentage: function(value) {
            this.calculate()
        },
        price: function(value) {
            this.calculate()
        },
        tab: function(value){
            this.calculate()
        }
    },
    methods:{
        selling_price_to_gain_money(money){
            var PF=0
            if (this.selected_shares>0){
                PF=(money+this.selected_average_price*this.selected_shares*this.leverage)/(this.selected_shares*this.leverage)        
            } 
            else if (this.selected_shares<0){
                PF=(-money+this.selected_average_price*this.selected_shares*this.leverage)/(this.selected_shares*this.leverage)        
            }
            return PF
        },    
        selling_price_to_gain_percentage_of_invested(percentage){
            var gains=this.selected_invested*percentage/100
            return this.selling_price_to_gain_money(gains)
        },
        
        submit(){               
            console.log(this.selling_expiration)
            if (this.$refs.form.validate()==false) return
            this.$refs.form.$el.submit()
        },
        calculate(){
            
            if (this.tab==0){
                this.selected_selling_price=this.selling_price_to_gain_percentage_of_invested(this.percentage)
            } else if (this.tab==1) {
                this.selected_selling_price=this.selling_price_to_gain_money(this.gains)
            } else if (this.tab==2) {
                this.selected_selling_price=this.price
            }
                
            var gai=(this.selected_selling_price-this.selected_average_price)*this.selected_shares*this.leverage
            this.button_text=`Set selected investments selling price to ${currency_string(this.selected_selling_price, this.currency, this.decimals)} to gain ${currency_string(gai,this.currency, 2)}`
            
            var s=""
            this.selected.forEach(v=> s=s+`${v.id}, `)
            this.investments_ids=s.slice(0,-2)
        }
    },
    mounted(){
         this.$refs.table.selection=this.data
    }
})
</script>
{% endblock content %}
