{% extends "base_vue_all.html" %}

{% load i18n %}
{% load l10n %}

{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block head_js_section %}
    <script type="text/javascript" src='{% static "js/vuecomponents/MyMenuInline.js" %}'></script>
    <script type="text/javascript" src='{% static "js/moment.js" %}'></script>
    <script type="text/javascript" src='{% static "js/moment-timezone-with-data.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableDividends.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableInvestmentOperations.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableInvestmentOperationsHistorical.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableInvestmentOperationsCurrent.js" %}'></script>
{% endblock head_js_section %}

{% block content %}

<h1>{% blocktrans with investment=investment.name %}Investment details of '{{ investment }}'{% endblocktrans %}</h1>
<v-layout style="justify-content: center;">
    <v-card class="padding" style="width:50%;">
        <p><strong>{% trans 'Id' %}: </strong>{{ investment.id }}</p>
        <p><strong>{% trans 'Name' %}: </strong>{{ investment.fullName }}</p>
        <p><strong>{% trans 'Product Id' %}: </strong>{{ investment.products.fullName }}</p>
        <p><strong>{% trans 'Active' %}: </strong>{{ investment.active }}</p>
        <p><strong>{% trans 'Selling point' %}: </strong>{{ investment.selling_price }}
        {% with gains_at_selling_price=operations.current_gains_gross_investment_at_selling_price %}  
        {% if gains_at_selling_price %}
            . {% blocktrans %} to gain {{ gains_at_selling_price }}.{% endblocktrans %}
        {% endif %}</p>
        {% endwith %}
        <p><strong>{% trans 'Selling expiration' %}: </strong>{{ investment.selling_expiration }}
        {% if investment.selling_expiration_alert %}
            . <span class="red">{% trans 'You must set a new selling order.' %}</span>
        {% endif %}</p>
        <p><strong>{% trans 'Daily adjustment' %}: </strong>{{ investment.daily_adjustment }}</p>
        <p><strong>{% trans 'Currency' %}: </strong>{{ investment.products.currency }} ({{ investment.products.currency_symbol }})</p>
        <p><strong>{% trans 'Leverage' %}: </strong>{{ investment.products.leverages.multiplier }} (Real: {{investment.products.real_leveraged_multiplier}})</p>
    </v-card>
    <my-menuinline :items="items" @selected="items_selected"></my-menuinline>
</v-layout>
<p></p>
<v-tabs  background-color="primary" dark v-model="tab" next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows>
    <v-tab key="current">{% trans "Current investment operations" %}</v-tab>
    <v-tab key="operations">{% trans "Investment operations" %}</v-tab>
    <v-tab key="historical">{% trans "Historical investment operations" %}</v-tab>
    <v-tab key="dividends">{% trans "Dividends" %}</v-tab>
    <v-tabs-slider color="yellow"></v-tabs-slider>
</v-tabs>
<v-tabs-items v-model="tab">
    <v-tab-item key="current">      
        <div>
            <v-tabs vertical  v-model="tabcurrent">
                <v-tab key="investment">{% trans "Investment currency" %}</v-tab>
                {% if  investment.hasSameAccountCurrency is False %}
                <v-tab key="account">{% trans "Account currrency" %}</v-tab>
                {%endif %}
                <v-tab-item key="investment">     
                    <v-card class="padding">
                        <table-investmentoperationscurrent :items="items_io_current" currency_account="{{investment.accounts.currency}}" currency_investment="{{investment.products.currency}}" output="investment" height="400" url_root="{% url 'home' %}" :key="keyrefresh" locale='{{ LANGUAGE_CODE }}'></table-investmentoperationscurrent>
                    </v-card>
                </v-tab-item>
                {% if  investment.hasSameAccountCurrency is False %}
                    <v-tab-item key="account">
                            <v-card class="padding">
                                    <table-investmentoperationscurrent :items="items_io_current" currency_account="{{investment.accounts.currency}}" currency_investment="{{request.local_currency}}" output="account" height="400" url_root="{% url 'home' %}" :key="keyrefresh" locale='{{ LANGUAGE_CODE }}'></table-investmentoperationscurrent>
                            </v-card>
                    </v-tab-item>
                {%endif %}
            </v-tabs>
        </div>
    </v-tab-item>
    <v-tab-item key="operations">          
        <div>
            <v-tabs vertical  v-model="tabcurrent">
                <v-tab key="investment">{% trans "Investment currency" %}</v-tab>
                {% if  investment.hasSameAccountCurrency is False %}
                    <v-tab key="account">{% trans "Account currrency" %}</v-tab>
                {%endif %}
                <v-tab-item key="investment">     
                    <v-card class="padding">
                        <table-investmentoperations :items="items_io" currency_account="{{investment.accounts.currency}}" currency_investment="{{investment.products.currency}}" height="400" url_root="{% url 'home' %}" :key="keyrefresh" output="investment"></table-investmentoperations>
                    </v-card>
                </v-tab-item>
                {% if  investment.hasSameAccountCurrency is False %}
                    <v-tab-item key="account">
                        <v-card class="padding">
                            <table-investmentoperations :items="items_io" currency_account="{{investment.accounts.currency}}" currency_investment="{{investment.products.currency}}" height="400" url_root="{% url 'home' %}" :key="keyrefresh" output="account"></table-investmentoperations>
                        </v-card>
                    </v-tab-item>
                {%endif %}
            </v-tabs>
        </div>
    </v-tab-item>
    <v-tab-item key="historical">     
        <div>            
            <v-tabs vertical  v-model="tabcurrent">
                <v-tab key="investmenth">{% trans "Investment currency" %}</v-tab>
                {% if  investment.hasSameAccountCurrency is False %}
                    <v-tab key="accounth">{% trans "Account currrency" %}</v-tab>
                {%endif %}
                <v-tab-item key="investmenth">     
                    <v-card class="padding">
                        <table-investmentoperationshistorical :items="items_io_historical" currency_account="{{investment.accounts.currency}}" currency_investment="{{investment.products.currency}}" height="400" url_root="{% url 'home' %}" output="investment" :key="keyrefresh"></table-investmentoperationshistorical>
                    </v-card>
                </v-tab-item>
                {% if  investment.hasSameAccountCurrency is False %}
                    <v-tab-item key="accounth">
                        <v-card class="padding">
                            <table-investmentoperationshistorical :items="items_io_historical" currency_account="{{investment.accounts.currency}}" currency_investment="{{request.local_currency}}" height="400" url_root="{% url 'home' %}" output="account" :key="keyrefresh"></table-investmentoperationshistorical>
                        </v-card>
                    </v-tab-item>
                {%endif %}
            </v-tabs>
        </div>
    </v-tab-item>
    <v-tab-item key="dividends">     
        <v-card class="padding">
            <table-dividends :items="items_dividends" currency_account="{{investment.accounts.currency}}"  height="400" url_root="{% url 'home' %}" output="user" :key="keyrefresh" heterogeneus></table-dividends>
        </v-card>
    </v-tab-item>
</v-tabs-items>            
  
<script>
new Vue({
    ...common_vue_properties(),            
    data () {
        return {
            tab:0,
            tabcurrent:0,
            keyrefresh:0,
            items_io: {{ json_table_operations | safe }},
            items_io_current: {{ json_table_current | safe }},
            items_io_historical: {{ json_table_historical | safe }},
            items_dividends: {{qso_dividends.json |safe}},
            items: [
                {
                    subheader:"{% trans 'Investment orders' %}",
                    children: [
                        {
                            name:"{% trans 'Update this investment' %}",
                            type: "redirection",
                            command: "{% url 'investment_update' pk=investment.id %}",
                            icon: "mdi-pencil",
                        },
                        {
                            name:"{% trans 'Change active status' %}",
                            type: "redirection",
                            command:"{% url 'investment_change_active' pk=investment.id %}",
                            icon: "mdi-pencil",
                        },
                        {
                            name:"{% trans 'Show evolution chart' %}",
                            type: "redirection",
                            command:"{% url 'investment_view_chart' pk=investment.id %}",
                            icon: "mdi-chart-areaspline",
                        },
                        {
                            name:"{% trans 'Change selling price of investments with the same product' %}",
                            type: "redirection",
                            command:"{% url 'investments_same_product_change_selling_price' products_id=investment.products.id %}",
                            icon: "mdi-pencil",
                        },
                    ]
                },
                {
                    subheader:"{% trans 'Product orders' %}",
                    children: [
                        {
                            name:"{% trans 'View product' %}",
                            type: "redirection",
                            command:"{% url 'product_view' pk=investment.products.id %}",
                            icon: "mdi-magnify",
                        },
                        {
                            name:"{% trans 'Add a quote to product' %}",
                            type: "redirection",
                            command:"{% url 'quote_new' products_id=investment.products.id %}",
                            icon: "mdi-book-plus",
                        },
                        {
                            name:"{% trans 'Delete last quote' %}",
                            type: "redirection",
                            command:"{% url 'quote_delete_last' products_id=investment.products.id %}?next={% url 'investment_list_active' %}",
                            icon: "mdi-delete",
                        },
                    ]
                },
                {
                    subheader:"{% trans 'Investment operation orders' %}",
                    children: [
                        {
                            name:"{% trans 'Add an investment operation' %}",
                            type: "redirection",
                            command: "{% url 'investmentoperation_new' investments_id=investment.id %}",
                            icon: "mdi-book-plus",
                        },
                        {
                            name:"{% trans 'Add an investment operation adjusting currency conversion factor' %}",
                            type: "function",
                            command: "newio_adjusting_cc",
                            icon: "mdi-book-plus",
                        },
                    ]
                },
                {
                    subheader:"{% trans 'Dividend orders' %}",
                    children: [
                        {
                            name:"{% trans 'Add a dividend' %}",
                            type: "redirection",
                            command: "{% url 'dividend_new' investments_id=investment.id %}",
                            icon: "mdi-book-plus",
                        },
                    ]
                },
            ]
        }  
    },
    watch:{
        tab: function (){
            this.keyrefresh=this.keyrefresh+1
        }
    },
    methods: {
        items_selected(item){
            if (item.command=="newio_adjusting_cc"){
                var selling_price_product_currency=parseNumber(prompt( "{% trans "Please add the operation close price in product currency" %}", 0 ));
                var gains_account_currency=parseNumber(prompt( "{% trans "Please add the final gains in account currency" %}", 0 ));
                var shares=parseNumber("{{ operations.current_shares|unlocalize}}");
                var average_price_current_account=parseNumber("{{operations.current_average_price_account.amount|unlocalize}}");
                var leverage=parseNumber("{{operations.investment.products.real_leveraged_multiplier}}")
                
                var currency_conversion=(gains_account_currency+shares*average_price_current_account*leverage)/(shares*selling_price_product_currency*leverage)
                var url=`{% url 'investmentoperation_new' investments_id=investment.id %}?currency_conversion=${my_round(currency_conversion,10)}&price=${selling_price_product_currency}&shares=${-shares}`;
                window.location.href=url;
            }
        }
    },
    
})
</script>
{% endblock content %}
