{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}

{% block content %}
    <h1>{% trans "Update an investment" %}</h1>
    <p>{{view.object.accounts.fullName}}</p>
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
    <button type="submit">{% trans "Save" %}</button>
    </form>
    
    <modal-window id="sellingprice" closed>
        <h2>{% trans "Investment data" %}</h2>
        <label id="investmentData"></label>
        <h2>{% trans "Set selling price by price" %}</h2>
        <input type="number" value="{{view.investments_operations.current_average_price_investment.amount|unlocalize}}" id="byprice">
         <button onclick="set_by_price();">{% trans "Set" %}</button> 
        <h2>{% trans "Set selling price by percentage" %}</h2>
        <input type="number" value="5" id="percentage">
         <button onclick="set_by_percentage();">{% trans "Set" %}</button> 
        <h2>{% trans "Set selling price to obtain a predefined gain" %}</h2>
        <input type="number" value="500" id="predefinedGains">
         <button onclick="set_by_predefined_gains();">{% trans "Set" %}</button> 
        <h2>{% trans "Using range position movement of the last investment operation price" %}</h2>
            <label>{% trans "Select a range position movement" %}</label>
            <select id="cmbRangeMovement">
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0" selected>0</option>
                <option value="-1">-1</option>
                <option value="-2">-2</option>
                <option value="-3">-3</option>
            </select>&nbsp;&nbsp;
            <label>{% trans "Select the percentage down of the range" %}</label><input id="txtPercentageDownRange" value="1.25" ></input>&nbsp;&nbsp;
         <button onclick="set_by_range_position();">{% trans "Set" %}</button> <p>
        <label id="lblRangePosition"></label><br>
         
         <hr>
         <label id="sellingpriceResult">{% trans "Select a method to calculate the investment selling price" %}</label>
    <script>

    var product_basic_last={{view.object.products.basic_results.last | unlocalize}};
    var investment_last_operation_price={{view.investments_operations.current_last_operation.price_investment |unlocalize}};


    var currency_user= '{{request.local_currency}}';
    var currency_investment= '{{view.object.products.currency}}';
    var decimals={{view.object.products.decimals}};
    var dialog=document.querySelector("#sellingprice");
    var cmbRangeMovement=document.querySelector("#cmbRangeMovement");
    var txtSellingPrice=document.getElementById("id_selling_price");
    var txtByPrice=document.querySelector("#byprice");
    var txtPercentageDownRange=document.querySelector("#txtPercentageDownRange");
    var txtPercentage=document.querySelector("#percentage");
    var txtPredefinedGains=document.querySelector("#predefinedGains");
    var lblInvestmentData=document.querySelector("#investmentData")
    var lblRangePosition=document.querySelector("#lblRangePosition");
    var lblResult=document.querySelector("#sellingpriceResult");
    var invested_user=parseNumber({{view.investments_operations.current_invested_user|unlocalize}});
    var leverage=parseNumber({{view.object.products.real_leveraged_multiplier | unlocalize}});
    var average_price_investment=parseNumber({{view.investments_operations.current_average_price_investment.amount|unlocalize}});
    var shares=parseNumber({{view.investments_operations.current_shares | unlocalize}});
    lblInvestmentData.innerHTML=`
<ul>
    <li>Invested: ${currency_string(invested_user,currency_user)}</li>
    <li>leverage: ${leverage}</li>
    <li>shares: ${shares}</li>
    <li>Average price: ${currency_string(average_price_investment,currency_investment,decimals)}</li>
</ul>
`;
    
    
    function open_sellingprice_dialog(){
        dialog.show();
    }
    
    function set_by_price(){
        return display_result(parseNumber(txtByPrice.value),decimals);
    }

    function set_by_percentage(){
        return display_result(selling_price_to_gain_percentage_of_invested(parseNumber(txtPercentage.value), decimals));
    }

    function set_by_predefined_gains(){
        return display_result(selling_price_to_gain_money(parseNumber(txtPredefinedGains.value)));
    }
    
    
    function set_by_range_position(){
        var percentage_down=parseNumber(txtPercentageDownRange.value);
        var pr=new RangeManager( product_basic_last, percentage_down/100);
        var range_of_investment_last_operation_price=pr.get_range(investment_last_operation_price);
        var selling_price=pr.get_near_range(investment_last_operation_price, parseNumber(cmbRangeMovement.value)).value;
        lblRangePosition.innerHTML=gettext("Last investment operation price {0}. It's range center is {1}").format(currency_string(investment_last_operation_price,currency_investment), currency_string(range_of_investment_last_operation_price.value,currency_investment));
        return display_result(selling_price);
    }
    
    function selling_price_to_gain_percentage_of_invested(percentage){
        var gains=invested_user*percentage/100;
        return self.selling_price_to_gain_money(gains);
    }

    function selling_price_to_gain_money(money){
        var PF=0;
        if (shares>0){
            PF=(money+average_price_investment*shares*leverage)/(shares*leverage)        
        } 
        else if (shares<0){
            PF=(-money+average_price_investment*shares*leverage)/(shares*leverage)        
        }
        return PF;
    }
    
    function gains_at_price(price){
        return gains=(price-average_price_investment)*shares*leverage
    }
    
    
    function display_result(selling_price){  
        lblResult.innerHTML=gettext("Investment selling price set to {0} to gain {1}.").format(currency_string(selling_price, currency_investment, decimals), currency_string(gains_at_price(selling_price), currency_user, 2));
        txtSellingPrice.value=my_round(selling_price,decimals);
        return;
    }
    </script>
</modal-window>

    <p class="orders">
        <a onclick="open_sellingprice_dialog();" href="javascript:void(0);">{% trans "Calculate selling price" %}</a> | 
        <a href="{% url 'investment_delete' pk=object.id %}">{% trans "Delete this investment" %}</a>
    </p>

{% endblock %}
