{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Investments pairs" %}</h1>

<h2>{% trans "Information" %}</h2>

<p>Worse: {{product_worse.fullName}}</p>
<p>Better: {{product_better.fullName}}</p>
<p><input type="submit" value="Pair historical evolution" onclick="openInNewTab('{% url 'products_pairs' product_worse.id product_better.id %}')" /></p>

<h2>{% trans "Current investment operations in investment currency" %}</h2>

{{ ldo_ioc_worse.tabulator |safe }}

{{ ldo_ioc_better.tabulator|safe}}

<h2>{% trans "Current investment operations in user currency" %}</h2>

{{ table_ioc_worse_usercurrency|safe}}

{{ table_ioc_better_usercurrency|safe}}

<p>{% blocktrans with worse_balance=ldo_ioc_worse.balance_cfd %}Current worse balance is {{ worse_balance }}.{% endblocktrans %}</p>
<p>{% blocktrans with better_balance=ldo_ioc_better.balance_cfd %}Current better balance is {{ better_balance }}.{% endblocktrans %}</p>
<p>{% blocktrans with balance_deviation=balance_deviation max_deviation=max_deviation%}Current balance deviation is {{ balance_deviation }}. Max balance deviation (10 % invested) is {{ max_deviation }}.{% endblocktrans %}</p>


<p>{% blocktrans with pair_gains=pair_gains %}Current pair balance is {{ pair_gains }}.{% endblocktrans %}</p>

<h2>{% trans "Pair reinvest filters" %}</h2>




<h2>{% trans "Next investment calculator" %}</h2>

<form class="normal" method="post" id="form_invest">{% csrf_token %}
    <label>{% trans "Please set the amount to invest "%}</label>
    <input id="amount" value="1000"></input>
    <label> {{local_currency}}</label>
    <button id="button_invest" type="submit">{% trans "Calculate" %}</button>
</form>
<div id="form_invest_result"></div>
<script>
$(document).ready(function() {
  $("#button_invest").click(function(e) {
    var amount=$("#amount").val();
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'ajax_investment_pairs_invest' product_worse.id product_better.id account.id 9999999999 %}".replace("9999999999", amount),
      data: {
            csrfmiddlewaretoken: "{{csrf_token}}",
      },
      success: function(result) {
        $("#form_invest_result").html(result);
      },
      error: function(result) {
        $("#form_invest_result").html('<p>{% trans "Something is wrong" %}</p>');
      }
    });
  });
});
</script>

{{pairs_new_operation|safe}}



<h2>{% trans "Products evolution" %}</h2>
{{ldo_products_evolution.tabulator|safe}}
<p>{% trans "Ponderated average price ratio: " %}{{ ldo_products_evolution.price_ratio_ponderated_average}}</p>


<h2>{% trans "Loses of next reinvestment" %}</h2>
<p><strong>{% trans "Gains" %}: </strong>{{ gains }}</p>
<p><strong>{% trans "Shares" %}: </strong>{{ ldo_ioc_better.shares_js }}</p>
<p><strong>{% trans "Average price" %}: </strong>{{ ldo_ioc_better.average_price_user }}</p>



<input id="percentage" type="text" name="next" value="2" onchange="calculate_reinvest_loses();" onkeydown="calculate_reinvest_loses();">
<label id="result" gains="{{gains}}" better_shares="{{better_shares}}" better_average_price="{{better_average_price}}" better_leverages_real="{{product_better.real_leveraged_multiplier}}"></label>
<script>
    function calculate_reinvest_loses(){
        var label = document.getElementById('result');
        var input=document.getElementById('percentage');
        var percentage=parseFloat(input.value);
        var shares=parseFloat(label.getAttribute("better_shares"));
        var gains=parseFloat(label.getAttribute("gains"));
        var average_price=parseFloat(label.getAttribute("better_average_price"));
        var leverage=parseFloat(label.getAttribute("better_leverages_real"));
        var diff=shares*average_price*leverage*(percentage/100) ;
        label.innerHTML="".concat(gains).concat("-").concat(diff).concat("=").concat(gains-diff).concat(" {{local_currency}}");
    }
    calculate_reinvest_loses();

</script>
{% endblock %}

