{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Update an investment operation" %}</h1>
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <button type="submit">{% trans "Save" %}</button>
    </form>
<p>
<p>
<label id="balance">Balance is ...</label>

    <script>
        var real_leverage={{ object.investments.products.real_leveraged_multiplier }}
        var eLabel=document.getElementById("balance");
        var eShares=document.getElementsByName("shares")[0];
        var ePrice=document.getElementsByName("price")[0];
        var eTaxes=document.getElementsByName("taxes")[0];
        var eCommission=document.getElementsByName("commission")[0];
        function update_label(){
            let shares=parseNumber(eShares.value);
            let price=parseNumber(ePrice.value);
            let taxes=parseNumber(eTaxes.value);
            let commission=parseNumber(eCommission.value);
            let gross=Math.abs(price*shares*real_leverage);
            let net;
            if (shares >= 0){
                net= Math.abs(gross +taxes+commission);
            } else {
                net = Math.abs(gross - taxes - commission);
            }
            let cGross=currency_string(gross, '{{object.investments.products.currency}}');
            let cNet = currency_string(net, '{{object.investments.products.currency}}');  
            eLabel.innerHTML=gettext("Gross balance is {0}. Net balance is {1}. Leverage multiplier is {2}").format(cGross, cNet, real_leverage);
        }
        update_label();

        eShares.addEventListener('change', (event) => {
            update_label();
        });    
        ePrice.addEventListener('change', (event) => {
            update_label();
        });
        eTaxes.addEventListener('change', (event) => {
            update_label();
        });
        eCommission.addEventListener('change', (event) => {
            update_label();
        });
    </script>


    <p class="orders">
            <a href="{% url 'investmentoperation_delete' pk=object.id %}">Delete this investment operation</a>
    </p>

{% endblock %}
