{% extends 'base_vue_all.html' %}
{% load i18n %}
{% load static %}



{% block head_js_section %}
<!--     FOR CHARTS -->
    <script type="text/javascript" src='{% static "js/echarts.min.js" %}'></script>  
    <script type="text/javascript" src='{% static "js/vue-composition-api.prod.js" %}'></script>
    <script type="text/javascript" src='{% static "js/index.umd.min.js" %}'></script> 
    <script type="text/javascript" src='{% static "js/vuecomponents/ChartPie.js" %}'></script>
{% endblock head_js_section %}

{% block content %}
    <h1>{% trans "Investment classes" %}</h1>   
    <v-card>
    <v-select label="Select a method to calculate charts" v-model="method" :items="method_products" @change="key=key+1"></v-select>
        <v-tabs  background-color="primary" dark v-model="tab" next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows>
            <v-tab key="product">{% trans "By investment product" %}</v-tab>
            <v-tab key="pci">{% trans "By Put / Call / Inline" %}</v-tab>
            <v-tab key="percentage">{% trans "By variable percentage" %}</v-tab>
            <v-tab key="type">{% trans "By investment type" %}</v-tab>
            <v-tab key="leverage">{% trans "By leverage" %}</v-tab>
            <v-tabs-slider color="yellow"></v-tabs-slider>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <v-tab-item key="product">
                <chart-pie name="Investments by product" :items="echart_products_items" height="600px" :key="key+1"></chart-pie>
            </v-tab-item>
            <v-tab-item key="pci">
                <chart-pie name="Investments by pci" :items="echart_pci_items" height="600px" :key="key"></chart-pie>
            </v-tab-item>
            <v-tab-item key="percentage">
                <chart-pie name="Investments by variable percentage" :items="echart_percentage_items" height="600px" :key="key"></chart-pie>
            </v-tab-item>
            <v-tab-item key="type">
                <chart-pie name="Investments by product type" :items="echart_producttype_items" height="600px" :key="key"></chart-pie>
            </v-tab-item>
            <v-tab-item key="leverage">
                <chart-pie name="Investments by leverage" :items="echart_leverage_items" height="600px" :key="key"></chart-pie>
            </v-tab-item>
        </v-tabs-items>
    </v-card>
<script>   
    Vue.component("v-chart", VueECharts)
    new Vue({
        ...common_vue_properties(),
        data:{
            tab:null,
            key:0,
            method: "Current",
            method_products:["Invested", "Current"],
            
        },
        computed:{
            echart_products_items: function(){
                var products= {{ iotm.json_classes_by_product | safe}}
                if (this.method=="Current"){
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.balance, 2)}))
                } else {//Invested
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.invested,2)}))
                }
                return adapted
            },
            echart_pci_items: function(){
                var products= {{ iotm.json_classes_by_pci | safe}}
                if (this.method=="Current"){
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.balance, 2)}))
                } else {//Invested
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.invested,2)}))
                }
                return adapted
            },
            echart_percentage_items: function(){
                var products= {{ iotm.json_classes_by_percentage | safe}}
                if (this.method=="Current"){
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.balance, 2)}))
                } else {//Invested
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.invested,2)}))
                }
                return adapted
            },
            echart_producttype_items: function(){
                var products= {{ iotm.json_classes_by_producttype | safe}}
                if (this.method=="Current"){
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.balance, 2)}))
                } else {//Invested
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.invested,2)}))
                }
                return adapted
            },
            echart_leverage_items: function(){
                var products= {{ iotm.json_classes_by_leverage | safe}}
                if (this.method=="Current"){
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.balance, 2)}))
                } else {//Invested
                    var adapted= products.map(el => ({name: el.name, value: my_round(el.invested,2)}))
                }
                return adapted
            }
        },
    })
</script>

{% endblock %}
