{% extends 'base_vue_all.html' %}

{% load i18n %}

{% load static %}

{% block head_js_section %}
    <script type="text/javascript" src='{% static "js/moment.js" %}'></script>
    <script type="text/javascript" src='{% static "js/moment-timezone-with-data.js" %}'></script>
    <script type="text/javascript" src='{% static "js/axios.min.js" %}'></script> 
{% endblock head_js_section %}


{% block content %}
<h1>{% trans "Last operation investments list" %}</h1>
 
<v-layout style="justify-content: center;">
    <v-card width="40%" class="padding">
        <v-select label="{% trans 'Select the way to show results' %}" v-model="method" :items="method_results" item-value="id" item-text="name"></v-select>
        <v-text-field v-model="limit"  type="number" label="{% trans 'Percentage gains of the last operation to highlight' %}"  placeholder="{% trans 'Enter a number' %}"></v-text-field>
    </v-card>
</v-layout>
<p></p>
<v-data-table dense :headers="tableHeaders" :items="tableData" class="elevation-1" disable-pagination  hide-default-footer item-key="id" :key="refreshKey"  :sort-by="['percentage_last']" :sort-desc="[true]" >        
    <template v-slot:[`item.datetime`]="{ item, index}">
            [[ localtime(item.datetime)  ]] 
    </template>  
    <template v-slot:[`item.balance`]="{ item }">
        <div v-html="currency_html(item.balance, localCurrency)"></div>
    </template> 
    <template v-slot:[`item.gains`]="{ item }">
        <div v-html="currency_html(item.gains, localCurrency)"></div>
    </template>
    <template v-slot:[`item.percentage_last`]="{ item }">
        <div  :class="item.percentage_last<limit/100 ? 'spanchildred' : ''" v-html="percentage_html(item.percentage_last)"></div>
    </template>
    <template v-slot:[`item.percentage_invested`]="{ item }">
        <div v-html="percentage_html(item.percentage_invested)"></div>
    </template>
    <template v-slot:[`item.percentage_sellingpoint`]="{ item }">
        <div v-html="percentage_html(item.percentage_sellingpoint)"></div>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
        <v-icon small @click="viewItem(item)">mdi-pencil</v-icon>   
        <v-icon small @click="orderAtPercentage(item)">mdi-cart</v-icon>   
    </template>
</v-data-table>

<script>
    new Vue({
        ...common_vue_properties(),
        data:function () {
            return {
                tableHeaders: [
                    { text: gettext('Name'), value: 'name', sortable: true},
                    { text: gettext('Date and time'), value: 'datetime', sortable: true, align:"right"},
                    { text: gettext('Last shares'), value: 'last_shares', sortable: true, align:"right", width:"7%" },
                    { text: gettext('Total shares'), value: 'shares', sortable: true, align:"right", width:"7%" },
                    { text: gettext('Balance'), value: 'balance', sortable: true, align:"right", width:"7%" },
                    { text: gettext('Gains'), value: 'gains', sortable: true, align:"right", width:"7%" },
                    { text: gettext('% last'), value: 'percentage_last', sortable: true, align:"right", width:"7%" },
                    { text: gettext('% invested'), value: 'percentage_invested', sortable: true, align:"right", width:"7%" },
                    { text: gettext('% selling point'), value: 'percentage_sellingpoint', sortable: true, align:"right", width:"7%" },
                    { text: gettext('Actions'), value: 'actions', sortable: true, width:"6%", cellClass: "text-nowrap" , width:"7%" },
                ],   
                tableData: [],
                localCurrency: "{{request.local_currency}}",
                method_results: [
                    { id:0, name:"{% trans 'Show separated investments' %}"},
                    { id:1, name:"{% trans 'Show merging current investment operations' %}"},
                    { id:2, name:"{% trans 'Show mergin all investment operations' %}"},     
                ],
                limit: {{ limit }},
                method: {{ method }},
                refreshKey: 0,
            }
        },
        watch:{
            method: function(){
                this.refreshTable()
            }
        },
        methods:{
            myheaders,
            viewItem(item){
                window.location.href="{%url 'investment_view' pk=9999%}".replace("9999", item.id)
            },
            orderAtPercentage(item){
                var price=my_round(item.last_price*(1+this.limit/100), item.decimals)
                window.location.href="{% url 'order_new' %}"+`?price=${price}&investment=${item.id}`
            },
            refreshTable(){
                var this_=this //Needs this inside axios seems with browser vue method
                axios.get( action="{% url 'investment_list_last_operation_method' method=9999 %}".replace("9999",this.method) , this.myheaders())
                .then(function (response) {
                    this_.tableData=response.data;
                    this_.refreshKey=this_.refreshKey+1;
                    console.log(this_.tableData)
                }) 
                .catch(function (error) {
                    alert("Something is wrong")
                });
            }
        },
        mounted(){
            this.refreshTable()
        }
    })
</script>
{% endblock %}

