{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Update an order" %}</h1>
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
    <button type="submit">{% trans "Save" %}</button>
    </form>
    <p class="orders">
        <a href="{% url 'order_delete' pk=object.id %}">{% trans "Delete this order" %}</a> | 
        <a href="{% url 'order_execute' pk=object.id %}">{% trans "Execute this order" %}</a> | 

    </p>

{% endblock %}