{% extends 'base_vue_all.html' %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Add a new product" %}</h1>

    <form method="post" class="form_table">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <button type="submit">{% trans "Save" %}</button>
    </form>
    
<script>
    new Vue({
        ...common_vue_properties(),
        data:{
            form_valid: false,
            person: {
                id: null,
                name: "",
                isin: "",
            }
        },
        methods:{
            editProduct(item){
            },
            submit(){
                if (this.$refs.form.validate()==false) return
                if (this.search==""){
                    alert("{% trans 'You must enter a search string' %}")
                    return
                }
                this.$refs.form.$el.submit()
            }
        },
    })
</script>

{% endblock %}
