{% extends 'base_vue_all.html' %}

{% load i18n %}
{% load static %}

{% block head_js_section %}
<!--     FOR CHARTS -->
    <script type="text/javascript" src='{% static "js/echarts.min.js" %}'></script>  
    <script type="text/javascript" src='{% static "js/vue-composition-api.prod.js" %}'></script>
    <script type="text/javascript" src='{% static "js/index.umd.min.js" %}'></script> 
    <script type="text/javascript" src='{% static "js/vuecomponents/ChartPie.js" %}'></script>
{% endblock head_js_section %}

{% block content %}
    <h1>{% trans 'Product ranges' %}</h1>
    <form method="post" class="form_table">
        <table >
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <button type="submit" name="button">{% trans "Show ranges" %}</button>
    </form>


    {% if prm.product.basic_results.last %}
        <v-tabs v-model="tab">
            <v-tab key="0">{% trans 'Product ranges table' %}</v-tab>
            <v-tab key="1">{% trans 'Product ranges chart' %}</v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
        <v-tab-item key="0">
            <v-card flat>
                <v-container>{% trans "Current price: " %}{{prm.product.basic_results.last}}</v-container>
                <v-data-table dense :headers="tableHeaders" :items="tableData" sort-by="value" class="elevation-1" disable-pagination  hide-default-footer :sort-by="['value']" :sort-desc="[true]" fixed-header height="400">      
                    <template v-slot:[`item.value`]="{ item }">
                        <div  @click="showLimits(item)" :class="item.current_in_range ? 'vuegreen' : ''">[[item.value ]]</div>
                    </template>    
                    <template v-slot:[`item.recomendation_invest`]="{ item }">
                        <v-icon small v-if="item.recomendation_invest" >mdi-check-outline</v-icon>
                    </template>                        
                    <template v-slot:[`item.investments_inside`]="{ item }">
                        <a :href="o.url" v-for="o in item.investments_inside" :key="o.name">[[ o.name ]]. Invested: [[ o.invested ]]<br></a>
                    </template>                      
                    <template v-slot:[`item.orders_inside`]="{ item }">
                        <a :href="o.url" v-for="o in item.orders_inside" :key="o.name">[[ o.name ]]. Amount: [[ o.amount]]<br></a>
                    </template>
                    <template v-slot:[`item.actions`]="{ item }">
                        <v-icon small class="mr-2" @click="addOrder(item)" v-if="item.recomendation_invest">mdi-pencil</v-icon>
                    </template>
                </v-data-table>   
            </v-card>
        </v-tab-item>
        <v-tab-item key="1" >
            <div style="height: 600px;">
                <v-chart autoresize :option="option"/>
            </div>
        </v-tab-item>
    </v-tabs-items>
    {% endif %}
<script>

    Vue.component("v-chart", VueECharts);  
    
    new Vue({
        ...common_vue_properties(),
        data:{
            tab: null,
            chart: '',                
            tableHeaders: [
                { text: 'Value', value: 'value',sortable: true },
                { text: 'Must Invest', value: 'recomendation_invest',sortable: false},
                { text: 'Investments',  sortable: false, value: 'investments_inside'},
                { text: 'Orders',  sortable: false, value: 'orders_inside'},
                { text: 'Actions', value: 'actions', sortable: false },
            ],   
            

            {% if prm.product.basic_results.last %}
                tableData: {{prm.listdict_json | safe}},
                option: {{prm.eChartVUE |safe}},
            {% else %}
                tableData: [],
                option: {},
            {% endif %}
        },
        methods:{
            addOrder(item){
                window.location.href = `{{ url_order_add }}?price=${item.value}`
            },
            showLimits(item){
                alert(item.limits)
            }
        
        },
    })
</script>

{% endblock %}
