{% extends 'base_vue_all.html' %}

{% load i18n %}
{% load static %}

{% block head_js_section %}
    <script type="text/javascript" src='{% static "js/moment.js" %}'></script>
    <script type="text/javascript" src='{% static "js/moment-timezone-with-data.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/MyDateTimePicker.js" %}'></script>
{% endblock head_js_section %}


{% block content %}
    <h1>{% blocktrans with product_name=product.name %} Add a new quote to '{{ product_name }}'{% endblocktrans %}</h1>

    <v-card>
        <v-form class="pa-4" ref="form" v-model="form_valid" lazy-validation action="{% url 'quote_new' products_id=product.id %}" method="POST">
                <v-row>
                    <my-datetimepicker class="pa-4" name="datetime" ref="datetime" v-model="datetime" label="{% trans 'Enter a datetime' %}"></my-datetimepicker>
                    <v-select class="ml-10" label="Select a predefined date" v-model="predefined" :items="predefined_datetimes" @change="setPredefined()" item-text="name" item-value="value"></v-select>
                </v-row>
                <v-text-field name="quote" v-model="quote" type="number" :counter="10" label="{% trans 'Enter a quote' %}" placeholder="{% trans 'Enter an amount' %}" :rules="RulesIntegerRequired(10)"></v-text-field>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        </v-form>
    </v-card>
    <p></p>
    <v-btn color="error" @click="submit()" :disabled="form_valid==false">{% trans "Add quote" %}</v-btn>
<script>
    new Vue({
        ...common_vue_properties(),
        data:{    
            form_valid: true,
            datetime: "",
            quote: 0,
            predefined: null,
            predefined_datetimes: [
                {name: gettext("Now"), value:0},
                {name: gettext("Yesterday's stockmarket start time"), value:1},
                {name: gettext("Yesterday's stockmarket close time"), value:2},
                {name: gettext("Today's stockmarket start time"), value:3},
                {name: gettext("Today's stockmarket close time"), value:4},
            ],
   
        },
        computed:{
        },
        methods:{
            submit(){
                if (this.$refs.form.validate()==false) return
                this.$refs.form.$el.submit()
            },
            setPredefined(){
                var today=new Date()
                var yesterday=new Date()
                yesterday.setDate(today.getDate()-1)
                var str_today=today.toISOString().substring(0,10)
                var str_yesterday=yesterday.toISOString().substring(0,10)
                var str_close='{{product.stockmarket_close_time}}'
                var str_start='{{product.stockmarket_start_time}}'
                if (this.predefined==0){
                    this.$refs.datetime.setWithJsDate(new Date())
                } else if (this.predefined==1){
                    this.$refs.datetime.setWithStrings(str_yesterday,str_start)
                } else if (this.predefined==2){
                    this.$refs.datetime.setWithStrings(str_yesterday,str_close)
                } else if (this.predefined==3){
                    this.$refs.datetime.setWithStrings(str_today,str_start)
                } else if (this.predefined==4){
                    this.$refs.datetime.setWithStrings(str_today,str_close)
                }
            }
        }
    })
</script>

{% endblock %}
