{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans %}Derivatives report of year '{{ year }}'{% endblocktrans %}</h1>

<h2>{% trans "Table" %}</h2>

{{ldo_derivatives.tabulator.render | safe}}


<h2>{% trans "Historical values" %}</h2>
<!--    
        iohhm=self.InvestmentOperationHistoricalHeterogeneusManager_derivatives()
        iochm=self.InvestmentOperationCurrentHeterogeneusManager_derivatives()-->
    <ul>
        <li>{% trans "Total adjustments" %}: {{c_adjustments}}</li>
        <li>{% trans "Total guarantees" %}: {{c_guarantees}}</li>
        <li>{% trans "Total commissions" %}: {{c_commissions}}</li>
        <li>{% trans "Current operations total" %}: {{c_iohhm}}</li>
        <li>{% trans "Historical operations total" %}: {{c_iochm}}</li>
        <li>{% trans "Total rollover paid" %}: {{c_rollover_paid}}</li>
        <li>{% trans "Total rollover received" %}: {{c_rollover_received}}</li>
<!--        
        s=s+"Comisiones actuales e históricas: {} + {} = {}\n".format(iochm.commissions(), iohhm.commissions(), iohhm.commissions()+iochm.commissions())
        s=s+"Resultado=OpHist+OpActu-Comisiones-Rollover= {} + {} + {} + {} = {}".format(iohhm.consolidado_bruto(), iochm.pendiente(), commissions.balance(), rollover.balance(), iohhm.consolidado_bruto()+iochm.pendiente()+commissions.balance()+rollover.balance())-->


{% endblock %}
