{% extends 'base_vue_all.html' %}

{% load i18n %}

{% load static %}

{% block head_js_section %}
{% endblock head_js_section %}
{% block content %}
  <h1>{% blocktrans with concept_name=concept.name %} Historical concept report of '{{ concept_name }}'{% endblocktrans %}</h1>
    <p></p>
    <v-card class="pa-4">
        <v-data-table dense :headers="table_headers" :items="items" disable-pagination  hide-default-footer>
        
            <template v-slot:[`item.total`]="{ item }">
                <div v-html="currency(item.total)"></div>
            </template>
            <template v-slot:[`item.m1`]="{ item }">
                <div v-html="currency(item.m1)"></div>
            </template>
            <template v-slot:[`item.m2`]="{ item }">
                <div v-html="currency(item.m2)"></div>
            </template>
            <template v-slot:[`item.m3`]="{ item }">
                <div v-html="currency(item.m3)"></div>
            </template>
            <template v-slot:[`item.m4`]="{ item }">
                <div v-html="currency(item.m4)"></div>
            </template>
            <template v-slot:[`item.m5`]="{ item }">
                <div v-html="currency(item.m5)"></div>
            </template>
            <template v-slot:[`item.m6`]="{ item }">
                <div v-html="currency(item.m6)"></div>
            </template>
            <template v-slot:[`item.m7`]="{ item }">
                <div v-html="currency(item.m7)"></div>
            </template>
            <template v-slot:[`item.m8`]="{ item }">
                <div v-html="currency(item.m8)"></div>
            </template>
            <template v-slot:[`item.m9`]="{ item }">
                <div v-html="currency(item.m9)"></div>
            </template>
            <template v-slot:[`item.m10`]="{ item }">
                <div v-html="currency(item.m10)"></div>
            </template>
            <template v-slot:[`item.m11`]="{ item }">
                <div v-html="currency(item.m11)"></div>
            </template>
            <template v-slot:[`item.m12`]="{ item }">
                <div v-html="currency(item.m12)"></div>
            </template>
        
        </v-data-table>
    </v-card>
    <p></p>
    <p class="normal">{% trans "Total balance is: " %} <div v-html="currency(total)"></div></p>
    <p class="normal">{% trans "Average balance is: " %} <div v-html="currency(average)"></div></p>
    <p class="normal">{% trans "Median balance is: " %} <div v-html="currency(median)"></div></p>

<script>
new Vue({
    ...common_vue_properties(),            
    data () {
        return {
            items: {{json_concepts_historical | safe}} ,
            table_headers:[
                { text: gettext('Year'), value: 'year',sortable: true, align:"center"},
                { text: gettext('January'), value: 'm1',sortable: true, align:"right"},
                { text: gettext('February'), value: 'm2',sortable: true, align:"right"},
                { text: gettext('March'), value: 'm3',sortable: true, align:"right"},
                { text: gettext('April'), value: 'm4',sortable: true, align:"right"},
                { text: gettext('May'), value: 'm5',sortable: true, align:"right"},
                { text: gettext('June'), value: 'm6',sortable: true, align:"right"},
                { text: gettext('July'), value: 'm7',sortable: true, align:"right"},
                { text: gettext('August'), value: 'm8',sortable: true, align:"right"},
                { text: gettext('September'), value: 'm9',sortable: true, align:"right"},
                { text: gettext('October'), value: 'm10',sortable: true, align:"right"},
                { text: gettext('November'), value: 'm11',sortable: true, align:"right"},
                { text: gettext('December'), value: 'm12',sortable: true, align:"right"},
                { text: gettext('Total'), value: 'total',sortable: true, align:"right"},
            ],
            local_currency: '{{request.local_currency}}',
            total: {{total|safe}},
            median: {{median|safe}},
            average: {{average|safe}},
        }  
    },
    watch:{
    },
    methods: {
        myheaders,        
        currency(value){
            return currency_generic_html(value,  this.local_currency, this.locale)
        },
    },
    mounted(){
    }
    
})
</script>
{% endblock content %}
