{% extends 'base_vue_all.html' %}

{% load i18n %}
{% load static %}
{% block head_js_section %}
<!--     FOR MOMENT -->
    <script type="text/javascript" src='{% static "js/moment.js" %}'></script>
{% endblock head_js_section %}


{% block content %}
    <h1>{% trans "Dividends report" %}</h1>   
    <v-container  style="width:40%" elevation="1">
        <v-card>
            <v-col  justify="space-around">
                <v-text-field v-model="alertdays" type="number" label="{% trans 'Max days to update dividends alert' %}" placeholder="Enter an integer number"></v-text-field>
            </v-col>
        </v-card>
    </v-container>
    <v-data-table dense :headers="tableHeaders"  :items="items" class="elevation-1" disable-pagination  hide-default-footer :sort-by="['percentage']" :sort-desc="['percentage']">
        <template v-slot:[`item.dps`]="{item}"  class="text-nowrap">
            <v-icon small @click="addEstimation(item)" v-if="showAlarm(item)">mdi-alarm</v-icon> [[ if_null_script(item.dps)]]
        </template>    
        <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="addEstimation(item)">mdi-pencil</v-icon>
        </template> 
        <template v-slot:[`item.percentage`]="{ item }">
            [[ `${my_round(item.percentage*100, 2)} %`]]
        </template>
    </v-data-table>
    <v-container>[[ total() ]]</v-container>
    
    <v-dialog v-model="dialog" max-width="450">
        <v-card>
            <v-card-title class="headline">{% trans "Post an estimation" %}</v-card-title>
            <v-form ref="form" v-model="form_valid" lazy-validation>
                <v-col>
                    <v-text-field v-model="year" type="text" :counter="4" label="{% trans 'Year' %}" required placeholder="{% trans 'Enter a year' %}" :rules="RulesIntegerRequired4"></v-text-field>
                    <v-text-field v-model="estimation" type="text" label="{% trans 'Estimation' %}" :counter="10" placeholder="{% trans 'Enter a estimation' %})" autofocus @focus="$event.target.select()" :rules="RulesNumberRequired10"></v-text-field>
                </v-col>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="submit()" :disabled="!form_valid">{% trans "Post an estimation" %}</v-btn>
                    <v-btn color="error" @click.native="dialog = false">{% trans "Cancel" %}</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
<script>
    new Vue({
        ...common_vue_properties(),
        data:{       
            alertdays:90,
            tableHeaders: [
                { text: "{% trans 'Investment' %}", value: 'name',sortable: true },
                { text: "{% trans 'Current price' %}", value: 'current_price',sortable: true, align: 'right'},
                { text: "{% trans 'DPS' %}", value: 'dps',sortable: false, align: 'right', cellClass: "text-nowrap"},
                { text: "{% trans 'Shares' %}", value: 'shares',sortable: false, align: 'right'},
                { text: "{% trans 'Estimated balance' %}", value: 'estimated',sortable: false, align: 'right'},
                { text: "{% trans 'Percentage' %}", value: 'percentage',sortable: false, align: 'right', },
                { text: "{% trans 'Actions' %}", value: 'actions',sortable: false, align: 'right'},
            ],
            items:{{json_report | safe}},
            
            products_id: null,
            year:new Date().getFullYear(),
            estimation: 0,
            
            dialog:false,
            form_valid:false,
            RulesIntegerRequired4: [
                    v => !!v || "{% trans 'Number is required' %}",
                    v => (v && v.length <=4) || "{% trans 'Number must be at most 4 characters' %}",
                    v => (v && !isNaN(parseInt(v))) || "{% trans 'Must be a number' %}",
                ],
            RulesNumberRequired10: [
                    v => !!v || "{% trans 'Number is required' %}",
                    v => (v && v.length <=10) || "{% trans 'Number must be at most 10 characters' %}",
                    v => (v && !isNaN(parseNumber(v))) || "{% trans 'Must be a number' %}",
                ],
        },
        methods:{
            showAlarm(item){
                var today= moment()
                var estimation= moment(item.date_estimation)
                if (item.dps==null || today.diff(estimation,"days") > this.alertdays ) {
                    return true
                }
                return false
            },
            addEstimation(item){
                this.dialog=true
                this.products_id=item.products_id
                console.log(item)
            },
            submit(){
                let data = new FormData(); // 2
                data.append("products_id", this.products_id)  
                data.append("estimation", this.estimation)  
                data.append("year", this.year)
                data.append("csrfmiddlewaretoken", '{{csrf_token}}')
    
                axios.post( action="{% url 'estimation_dps_new' %}" , data)
                .then(function (response) {
                    if (response.data=="True"){
                        location.reload()
                    } else {
                        alert("Something is wrong")
                    }
                })
                .catch(function (error) {
                    alert("Something is wrong")
                });
            },
            total(){
                var total=my_round(this.items.reduce((accum,item) => accum + item.estimated, 0),2)
                var local_currency='{{ request.local_currency}}'
                return `{% trans "If I kept the investments for a year I would get ${total} ${currency_symbol(local_currency)}" %}`
            }
            
        }
    })
</script>
{% endblock %}
