
{% extends 'base_vue_all.html' %}

{% load i18n %}
{% load static %}


{% block head_js_section %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css">
{% endblock head_js_section %}


{% block content %}
<h1>{% trans "Export report" %}</h1> 

<div class="js-toc-content">
    <div class="js-toc"></div>
    <h1 id="TotalReport">{% trans "Total report" %}</h1>
        <div class="d-flex justify-center mb-4">
            <v-card width="20%" class="pa-5">
                <v-select dense label="Select the year from which to display the report" v-model="year" :items="years()" @change="change_year()"></v-select>
            </v-card>
        </div>

    <p>Last year balance ({{last_year|date:"Y-m-d"}}) is {{ last_year_balance.string }}</p>

    <v-tabs  background-color="primary" dark v-model="tab" next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows>
        <v-tab key="0">{% trans "Month evolution" %}</v-tab>
        <v-tab key="1">{% trans "Income report" %}</v-tab>
        <v-tab key="2">{% trans "Gains by product type" %}</v-tab>
        <v-tabs-slider color="yellow"></v-tabs-slider>
    </v-tabs>
    <v-tabs-items v-model="tab">
        <v-tab-item key="0">
            <v-card class="padding" outlined>            
                <v-data-table dense :headers="total_report_headers" :items="total_report"  class="elevation-1" disable-pagination  hide-default-footer>      
                    <template v-slot:[`item.account_balance`]="{ item }">
                        <div v-html="currency(item.account_balance)"></div>
                    </template>      
                    <template v-slot:[`item.investment_balance`]="{ item }">
                        <div v-html="currency(item.investment_balance)"></div>
                    </template>   
                    <template v-slot:[`item.total`]="{ item }">
                        <div v-html="currency(item.total)"></div>
                    </template>   
                    <template v-slot:[`item.diff_lastmonth`]="{ item }">
                        <div v-html="currency(item.diff_lastmonth)"></div>
                    </template>   
                    <template v-slot:[`item.percentage_year`]="{ item }">
                        <div v-html="percentage_html(item.percentage_year)"></div>
                    </template>   
                    <template v-slot:body.append="{headers}">
                        <tr style="background-color: GhostWhite" ref="lr">
                            <td v-for="(header,i) in headers" :key="i" >
                                <div v-if="header.value == 'month'">
                                    Total
                                </div>
                                <div v-if="header.value == 'diff_lastmonth'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report,'diff_lastmonth'))"></div>
                                </div>
                            </td>
                        </tr>
                        
                    </template>
                </v-data-table>   
            </v-card>
        </v-tab-item>
        <v-tab-item key="1">     
            <v-card class="padding" outlined>            
                <v-data-table dense :headers="total_report_incomes_headers" :items="total_report_incomes"  class="elevation-1" disable-pagination  hide-default-footer>      
                    <template v-slot:[`item.expenses`]="{ item }">
                        <div v-html="currency(item.expenses)"></div>
                    </template>      
                    <template v-slot:[`item.incomes`]="{ item }">
                        <div v-html="currency(item.incomes)"></div>
                    </template>   
                    <template v-slot:[`item.total`]="{ item }">
                        <div v-html="currency(item.total)"></div>
                    </template>   
                    <template v-slot:[`item.gains`]="{ item }">
                        <div v-html="currency(item.gains)"></div>
                    </template>   
                    <template v-slot:[`item.dividends`]="{ item }">
                        <div v-html="currency(item.dividends)"></div>
                    </template>    
                    <template v-slot:[`item.actions`]="{ item }">
                        <v-icon small class="mr-2" @click="incomeDetails(item)">mdi-pencil</v-icon>
                    </template> 
                    <template v-slot:body.append="{headers}">
                        <tr style="background-color: GhostWhite" ref="lr">
                            <td v-for="(header,i) in headers" :key="i" >
                                <div v-if="header.value == 'month'">
                                    Total
                                </div>
                                <div v-if="header.value == 'expenses'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_incomes,'expenses'))"></div>
                                </div>
                                <div v-if="header.value == 'incomes'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_incomes,'incomes'))"></div>
                                </div>
                                <div v-if="header.value == 'gains'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_incomes,'gains'))"></div>
                                </div>
                                <div v-if="header.value == 'dividends'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_incomes,'dividends'))"></div>
                                </div>
                                <div v-if="header.value == 'total'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_incomes,'total'))"></div>
                                </div>
                            </td>
                        </tr>
                        
                    </template>
                </v-data-table>   
            </v-card>
        </v-tab-item>
        <v-tab-item key="2">     
            <v-card class="padding" outlined>
                <v-data-table dense :headers="total_report_by_type_headers" :items="total_report_by_type"  class="elevation-1" disable-pagination  hide-default-footer>      
                    <template v-slot:[`item.dividends_gross`]="{ item }">
                        <div v-html="currency(item.dividends_gross)"></div>
                    </template>      
                    <template v-slot:[`item.dividends_net`]="{ item }">
                        <div v-html="currency(item.dividends_net)"></div>
                    </template>   
                    <template v-slot:[`item.gains_gross`]="{ item }">
                        <div v-html="currency(item.gains_gross)"></div>
                    </template>   
                    <template v-slot:[`item.gains_net`]="{ item }">
                        <div v-html="currency(item.gains_net)"></div>
                    </template>    
                    <template v-slot:body.append="{headers}">
                        <tr style="background-color: GhostWhite" ref="lr">
                            <td v-for="(header,i) in headers" :key="i" >
                                <div v-if="header.value == 'name'">
                                    Total
                                </div>
                                <div v-if="header.value == 'dividends_gross'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_by_type,'dividends_gross'))"></div>
                                </div>
                                <div v-if="header.value == 'dividends_net'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_by_type,'dividends_net'))"></div>
                                </div>
                                <div v-if="header.value == 'gains_gross'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_by_type,'gains_gross'))"></div>
                                </div>
                                <div v-if="header.value == 'gains_net'" align="right">
                                    <div v-html="currency(listobjects_sum(total_report_by_type,'gains_net'))"></div>
                                </div>
                            </td>
                        </tr>
                        
                    </template>
                </v-data-table>   
                <div v-html="footer_by_type()"></div>
            
            </v-card>
        </v-tab-item>
    </v-tabs-items>     

    <h1 id="ADISO">{% trans "Export report" %}</h1> 
</div>
<script>
    new Vue({
        ...common_vue_properties(),
        data:{    
            tab:0,   
            total_report:{{json_list_report | safe}},
            total_report_headers: [
                { text: gettext('Month'), value: 'month',sortable: true },
                { text: gettext('Account balance'), value: 'account_balance', sortable: true, align:'right'},
                { text: gettext('Investment balance'), value: 'investment_balance', sortable: true, align:'right'},
                { text: gettext('Total balance'), value: 'total',sortable: true, align:'right'},
                { text: gettext('Last month difference'), value: 'diff_lastmonth', sortable: true, align:'right'},
                { text: gettext('% year to date'), value: 'percentage_year', sortable: true, align:'right'},
            ],   
            total_report_incomes:{{json_list_report_incomes | safe}},
            total_report_incomes_headers: [
                { text: gettext('Month'), value: 'month',sortable: true },
                { text: gettext('Incomes'), value: 'incomes', sortable: true, align:'right'},
                { text: gettext('Expenses'), value: 'expenses', sortable: true, align:'right'},
                { text: gettext('Gains'), value: 'gains',sortable: true, align:'right'},
                { text: gettext('Dividends'), value: 'dividends', sortable: true, align:'right'},
                { text: gettext('Total'), value: 'total', sortable: true, align:'right'},
                { text: gettext('Actions'), value: 'actions', sortable: true, align:'right'},
            ],     
            total_report_by_type:{{json_list_report_by_type | safe}},
            total_report_by_type_headers: [
                { text: gettext('Name'), value: 'name',sortable: true },
                { text: gettext('Gross gains'), value: 'gains_gross', sortable: true, align:'right'},
                { text: gettext('Gross dividends'), value: 'dividends_gross', sortable: true, align:'right'},
                { text: gettext('Net gains'), value: 'gains_net',sortable: true, align:'right'},
                { text: gettext('Net dividends'), value: 'dividends_net', sortable: true, align:'right'},
            ],   
            local_currency: '{{request.local_currency}}',
            year:{{year}}
        },
        computed:{
        },
        methods:{
            years(){
                var start=1990
                var end=new Date().getFullYear()
                return Array(end - start + 1).fill().map((_, idx) => start + idx)
            },
            currency(value){
                return this.currency_html(value, this.local_currency)
            },
            change_year(){
                window.location.href='{% url "report_total" %}' + `?year=${this.year}`
            },
            footer_by_type(){
                var gross_gains=listobjects_sum(this.total_report_by_type,'gains_gross')+listobjects_sum(this.total_report_by_type,'dividends_gross')
                var net_gains=listobjects_sum(this.total_report_by_type,'gains_net')+listobjects_sum(this.total_report_by_type,'dividends_net')
                return gettext("<p class='mt-4'>Gross gains + Gross dividends = {0}.</p><p>Net gains + Net dividends = {1}.</p>").format(this.currency(gross_gains), this.currency(net_gains))
            },
            incomeDetails(item){
            
                var url='{% url "report_total_income_details" year=9999 month=8888 %}'.replace('9999', this.year).replace('8888', item.month_number)
                window.open(url, '_blank')            }
        }
    })
    
    tocbot.init({
  // Where to render the table of contents.
  tocSelector: '.js-toc',
  // Where to grab the headings to build the table of contents.
  contentSelector: '.js-toc-content',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',
  // For headings inside relative or absolute positioned containers within content.
  hasInnerContainers: true,
});
</script>

{% endblock %}
