{% extends "base_vue_all.html" %}

{% load i18n %}
{% load l10n %}

{% load static %}

{% block head_js_section %}
    <script type="text/javascript" src='{% static "js/vuecomponents/MyMenuInline.js" %}'></script>
    <script type="text/javascript" src='{% static "js/moment.js" %}'></script>
    <script type="text/javascript" src='{% static "js/moment-timezone-with-data.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableDividends.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableInvestmentOperations.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableInvestmentOperationsHistorical.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vuecomponents/TableInvestmentOperationsCurrent.js" %}'></script>
{% endblock head_js_section %}

{% block content %}

<h1>{% blocktrans with strategy=strategy.name %}Strategy details of '{{ strategy }}'{% endblocktrans %}
    <my-menuinline :items="items_menu_inline"></my-menuinline>
</h1>
<h2>{% trans "Information" %}</h2>

<p><strong>{% trans 'Name' %}: </strong>{{ strategy.name }}</p>
<p><strong>{% trans 'From' %}: </strong>{{ strategy.dt_from }}</p>
<p><strong>{% trans 'To' %}: </strong>{{ strategy.dt_to }}</p>
<p><strong>{% trans 'Investments' %}: </strong>{{ strategy.investments }}</p>

<p><strong>{% trans 'Comment' %}: </strong>{{ strategy.comment }}</p>
<p><strong>{% trans 'Types' %}: </strong>{{ strategy.get_type_display }}</p>

<p>


<v-tabs  background-color="primary" dark v-model="tab" next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows>
    <v-tab key="current">{% trans "Current investment operations" %}</v-tab>
    <v-tab key="operations">{% trans "Investment operations" %}</v-tab>
    <v-tab key="historical">{% trans "Historical investment operations" %}</v-tab>
    <v-tab key="dividends">{% trans "Dividends" %}</v-tab>
    <v-tabs-slider color="yellow"></v-tabs-slider>
</v-tabs>
<v-tabs-items v-model="tab">
    <v-tab-item key="current">
        <v-card class="padding" outlined>
            <table-investmentoperationscurrent :items="items_io_current" currency_user="{{request.local_currency}}" output="user" max-height="400" url_root="{% url 'home' %}" :key="keyrefresh" heterogeneus></table-investmentoperationscurrent>
        </v-card>
    </v-tab-item>
    <v-tab-item key="operations">     
        <v-card class="padding" outlined>
            <table-investmentoperations :items="items_io" currency_user="{{request.local_currency}}" height="400" url_root="{% url 'home' %}" :key="keyrefresh" output="user" heterogeneus></table-investmentoperations>
        </v-card>
    </v-tab-item>
    <v-tab-item key="historical">     
        <v-card class="padding" outlined>
            <table-investmentoperationshistorical :items="items_io_historical" currency_user="{{request.local_currency}}"  height="400" url_root="{% url 'home' %}" output="user" :key="keyrefresh" heterogeneus></table-investmentoperationshistorical>
        </v-card>
    </v-tab-item>
    <v-tab-item key="dividends">     
        <v-card class="padding" outlined>
            <table-dividends :items="dividends" currency_account="{{request.local_currency}}"  height="400" url_root="{% url 'home' %}" output="user" :key="keyrefresh" heterogeneus></table-dividends>
        </v-card>
    </v-tab-item>
</v-tabs-items>            
 <p class="orders">
    {% if strategy.type != 0 %}
         <a href="{{ strategy.url_details }}">{% trans "Show detailed report" %}</a>
    {% endif %}</p>
</p>
<script>
new Vue({
    ...common_vue_properties(),            
    data () {
        return {
            tab:0,
            keyrefresh:0,
            items_io: {{ ops.json | safe }},
            items_io_current: {{ current.json | safe }},
            items_io_historical: {{ historical.json | safe }},
            dividends: {{ qso_dividends.json | safe}},         
            items_menu_inline: [
                { subheader:"{% trans 'Strategy orders' %}", children: [
                        { name:"{% trans 'Update strategy' %}", type: "redirection", command: "{% url 'strategy_update'  pk=strategy.pk %}", icon: "mdi-pencil" },
                        { name:"{% trans 'Delete strategy' %}", type: "redirection", command: "{% url 'strategy_delete'  pk=strategy.pk %}", icon: "mdi-delete" },
                    ]
                },
            ],

        }  
    },
    watch:{
        tab: function (){
            this.keyrefresh=this.keyrefresh+1
            console.log(this.keyrefresh)
        }
    },
    methods: {
    },
    
})
</script>
{% endblock content %}

