{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Strategies list" %}</h1>


{% url 'strategy_list_active' as url_unchecked %}
{% url 'strategy_list_inactive' as url_checked %}
{% trans "Check to show old strategies" as mylabel %}
{% include "objects/checkbox_selection.html" with label=mylabel url_checked=url_checked url_unchecked=url_unchecked %}    
<p></p>
{{qso_strategies.tabulator.render|safe}}

<p class="orders">
  <a href="{% url 'strategy_new' %}">{% trans 'Add a new strategy' %}</a>
</p>
{% endblock %}

