{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <h1>Widget modal window</h1>
    <modal-window id="modal">
        <label id="Hola">HOLA MAJO</label>
    </modal-window>

    <p class="orders">
        <a onclick='document.querySelector("#modal").show();' href="javascript:void(0);">{% trans "Show" %}</a> | 
    </p>

    
    <script>
        alert(document.querySelector("#modal").innerHTML);
        document.querySelector("#Hola").innerHTML="ADIOS MAJETE";
    </script>
    
    
    
    
    
    

<ajax-button id="ajax_button_evolution" url="{% url 'ajax_modal_button'  %}" showbuttonafter buttontext="{% trans 'Modal ajax button' %}" csrf_token="{{csrf_token}}"></ajax-button>
  <select id = "selLanguage"
    multiple = "multiple"
    size = "10">
   <option value = "HTML">HTML</option>
   <option value = "CSS">CSS</option>
   <option value = "JavaScript">JavaScript</option>
   <option value = "PHP">PHP</option>
   <option value = "MySQL">MySQL</option>
   <option value = "Java">Java</option>
   <option value = "VB.NET">VB.NET</option>
   <option value = "Python">Python</option>
   <option value = "Flash">Flash</option>
   <option value = "Perl">perl</option> 
  </select>

{% endblock %}
