    
body {
    margin: 0px;
}

label {
    font-weight:bold;
}

button {
    padding: 3px;
}

h1 {
    padding-top: 25px;
    padding-bottom: 35px;
    font-weight: bold;
    text-align: center
}


h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: #444444;
}

p.normal {
    text-align: justify;
    padding: 2px;
    font-size: 100%;
    font-weight: unset;
}

p.title, p.title > a {
    color: white;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    font-size: 130%;
    line-height: 1.5;
}
p.version {
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    padding-top: 0px;
    line-height: 0.1;
    font-size: 80%;
}

p.github, p.github > a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    padding-top: 10px;
    font-size: 90%;
    line-height: 1;
}

p.object{
    text-decoration: none;
    background-color: transparent;
    text-align: justify;
    padding-top: 0px;
    font-size: 100%;
    line-height: 120%;
    margin-bottom: 0rem;
}
p.orders > a, p.orders{
    text-decoration: none;
    background-color: transparent;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 110%;
    line-height: 120%;
    margin-bottom: 0rem;
    font-weight: bold;
    color: #1a215f;
}


p.orders > a:hover {
    color: orangered;
    background-color: transparent;
    font-size:110%;
    text-decoration: none;
}

/*
 * DJANGO FORM TABLES
 */

form.languages{
    background: None;
    border: None;
    padding: 0px;	
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;	
    display: inline;
    text-align: center;   
}




/* DIVS */

/* FOR DESKTOPS */
@media all and (min-width: 800px){
    div.layHorizontal {
        background: linear-gradient(#1a215f,rgb(147, 125, 245));
        padding: 0px;
        margin: 0px;
        line-height: 1;
        display: flex;
        flex-direction: row;

    }

    div.sidebar{
        color: white;
        font-weight:bold;
        white-space: nowrap;
        text-decoration: none;
        overflow-y: unset;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    div.layVertical {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        flex-grow: 4;

    }


    div.header{
        font-weight:bold;
        top: 0;
        display: flex;
        flex-direction: row-reverse;
        padding: 7px;
    }


    div.content {
        padding-left: 20px;
        padding-right: 20px;
        overflow-y: auto;
        background-color: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        flex-grow:4;
    }
}

/* FOR MOBILES */
@media all and (max-width: 800px){
    div.layHorizontal {
        background: linear-gradient(#1a215f,rgb(147, 125, 245));
        padding: 0px;
        margin: 0px;
        line-height: 1;
        display: flex;
        flex-direction: column;

    }

    div.sidebar{
        color: white;
        font-weight:bold;
        text-decoration: none;
        overflow-y: unset;
        padding: 20px;
    }

    div.layVertical {
        padding: 0px;
        margin: 0px;

    }


    div.header{
        font-weight:bold;
        top: 0;
        display: inline-flex;
        flex-direction: column-reverse;
        padding: 7px;
        line-height: 1.5;
    }


    div.content {
        padding: 20px;
        overflow-y: auto;
        background-color: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        flex-grow:4;
    }
}


div.headeritem > a  {
    color: white;
    padding: 7px;
    text-decoration: none;
    font-size:110%;
}


div.headeritem > a:hover {
    color: orangered;
    background-color: transparent;
    font-size:110%;
}




.spanchildred > span {
    background-color:lightpink;
}
.spanchildgreen > span {
    background-color:lightgreen;
}

span.vuered{
    color:red;
}


.vuegreen{
    color: Green;
    font-weight: 900;
}


.padding{
    padding: 30px;
}

/*Django mensajes and alerts*/
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}


/* MENU TREE VIEW*/
.v-treeview-node__root {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    min-height: 20px;
    color: white;
    opacity: unset;
}

.theme--light.v-treeview .v-treeview-node__root.v-treeview-node--active::before, .theme--light.v-treeview .v-treeview-node__root.v-treeview-node--active:hover::before {
    background-color:unset;
    opacity: 0;
}
.theme--light.v-treeview--hoverable .v-treeview-node__root:hover::before, .theme--light.v-treeview .v-treeview-node--click > .v-treeview-node__root:hover::before {
    opacity: 0;
}


/*DJANGO AUTO FORMS*/

.form_table{
    background: linear-gradient(rgb(185, 175, 231), white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.form_table > table > tbody > tr > th, 
.form_table > table{
    padding: 8px;
}

.form_table > button {
    padding: 8px;
    border-style: solid;
    background-color: lavenderblush;
}

.form_table >table >tbody > tr > td > select{
    padding: 8px;
    border-style: solid;
    background-color: lightgrey;
    width: 100%;
    box-sizing: border-box;
}

.form_table >table >tbody > tr > td > input,
.form_table >table >tbody > tr > td > textarea
{
    padding: 8px;
    border-style: solid;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}




/* v-date-pcker month picker*/
.mymonthpicker > div > div > div:nth-child(2) ,
.mymonthpicker > div > div > div:nth-child(2) > table > tbody > tr > td
{
height: unset;
}
